{%extends "central/base.html" %} {% block content%}
<h3>The Indian Council for Cultural Relations (ICCR) was founded in 1950 by Maulana Abul Kalam Azad, independent India’s first Education Minister. Its objectives are to actively participate in the formulation and implementation of policies and programmes pertaining to India’s external cultural relations; to foster and strengthen cultural relations and mutual understanding between India and other countries; to promote cultural exchanges with other countries and people, and to develop relations with nations.</h3>
{% endblock%}
