<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ICCR</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <!-- <link href="assets/img/favicon.png" rel="icon" /> -->
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet" />

    <link href="assets/css/style.css" rel="stylesheet" />
    <style>
        body {
            background-color: darkblue;
        }
    </style>
  </head>
  <body>
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <img src="assets/img/iccr_logo_long.jpeg" alt="" width="300" height="" />
            <i class="bi bi-list toggle-sidebar-btn"></i>
          </div>
          <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
              <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle" href="#">
                  <i class="bi bi-search"></i>
                </a>
              </li>              
                </ul>
                <!-- End Messages Dropdown Items -->
              </li>


              </li>
              <!-- End Profile Nav -->
            </ul>
          </nav>
    </header>
    <div style="padding: 7% 10%">
      <div class="row">
        <div class="col-sm-6">
          <div class="card w-100">
            <div class="card-body">
              <h5 class="card-title">ICCR Main Office Login</h5>
              <a href="./pages-login.html" class="btn btn-primary">Login -></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card w-100">
            <div class="card-body">
              <h5 class="card-title">Regional Office Login</h5>
              <a href="./pages-login.html" class="btn btn-primary">Login -></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 1040px; margin: 0 auto;height: 280px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/img/sih-landing-img.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">ICCR</h5>
              <p class="card-text">The Indian Council for Cultural Relations (ICCR) was founded in 1950 by Maulana Abul Kalam Azad, independent India’s first Education Minister. Its objectives are to actively participate in the formulation and implementation of policies and programmes pertaining to India’s external cultural relations; to foster and strengthen cultural relations and mutual understanding between India and other countries; to promote cultural exchanges with other countries and people, and to develop relations with nations.</p>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
