{%extends "central/base.html" %} {% block content%}
<div>
  <h1>Welcome to ICCR</h1>
  <h2>{{ user.username }} Regional Office Dashboard</h2>
</div>
<div>
    <div>
        <a href="">Students Enrolled</a> 
    </div>
    <div>
        <a href="">Activities conducted</a> 
    </div>
    <div>
        <a href="">Tickets raised</a> 
    </div>
    <div>
        <a href="">Tickets assigned</a> 
    </div>
    <div>
        <a href="">Budget Allocated</a> 
    </div>
    <div>
        <a href="">Activities in this quarter</a> 
    </div>
    <div>
        <h4>Details of upcoming events</h4>
    </div>
</div>
<div style="float: right;">
    <div>
        <h4>Notifications</h4>
    </div>
    Notifications from main office 
    <br>
    Tickets by other ROs
    <br>
    Tickets redirected by main office
</div>
{% endblock%}